* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.belgrano, .palermo, .caballito, .recoleta, .villa-crespo {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 300ms;
  margin: 150px auto;
  height: 100%;
  padding: 25px;
}
.belgrano h2, .palermo h2, .caballito h2, .recoleta h2, .villa-crespo h2 {
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  padding: 15px;
}
.belgrano .flex-container, .palermo .flex-container, .caballito .flex-container, .recoleta .flex-container, .villa-crespo .flex-container {
  display: flex;
  height: 85%;
  justify-content: space-around;
  align-items: center;
}
.belgrano .flex-container ::-webkit-scrollbar, .palermo .flex-container ::-webkit-scrollbar, .caballito .flex-container ::-webkit-scrollbar, .recoleta .flex-container ::-webkit-scrollbar, .villa-crespo .flex-container ::-webkit-scrollbar {
  display: none;
}
.belgrano .flex-container article, .palermo .flex-container article, .caballito .flex-container article, .recoleta .flex-container article, .villa-crespo .flex-container article {
  border-radius: 15px;
  border: 2px solid rgb(87, 25, 1);
  height: 95%;
  width: 70%;
  overflow: auto;
  margin: 20px;
}
.belgrano .flex-container article .card, .palermo .flex-container article .card, .caballito .flex-container article .card, .recoleta .flex-container article .card, .villa-crespo .flex-container article .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.belgrano .flex-container article .card .card-tit, .palermo .flex-container article .card .card-tit, .caballito .flex-container article .card .card-tit, .recoleta .flex-container article .card .card-tit, .villa-crespo .flex-container article .card .card-tit {
  background-color: rgba(255, 129, 10, 0.705);
  height: 30px;
  width: 100%;
  text-align: center;
  border-radius: 12px 12px 0 0;
  margin-bottom: 10px;
}
.belgrano .flex-container article .card .card-des, .palermo .flex-container article .card .card-des, .caballito .flex-container article .card .card-des, .recoleta .flex-container article .card .card-des, .villa-crespo .flex-container article .card .card-des {
  margin-left: 10px;
  line-height: 30px;
  width: 100%;
}
.belgrano .flex-container article .card .card-des span, .palermo .flex-container article .card .card-des span, .caballito .flex-container article .card .card-des span, .recoleta .flex-container article .card .card-des span, .villa-crespo .flex-container article .card .card-des span {
  text-decoration: underline;
}
.belgrano .flex-container article .card #horarios, .palermo .flex-container article .card #horarios, .caballito .flex-container article .card #horarios, .recoleta .flex-container article .card #horarios, .villa-crespo .flex-container article .card #horarios {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1px;
       column-gap: 1px;
  -moz-column-rule: 3px;
       column-rule: 3px;
  list-style: none;
  margin-left: 10px;
  line-height: 30px;
  width: 100%;
}
.belgrano .flex-container article .card #horarios span, .palermo .flex-container article .card #horarios span, .caballito .flex-container article .card #horarios span, .recoleta .flex-container article .card #horarios span, .villa-crespo .flex-container article .card #horarios span {
  text-decoration: underline;
}
.belgrano .flex-container article .fotos_cafe, .palermo .flex-container article .fotos_cafe, .caballito .flex-container article .fotos_cafe, .recoleta .flex-container article .fotos_cafe, .villa-crespo .flex-container article .fotos_cafe {
  border-top: 2px solid #fc7d15;
  padding: 30px 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  overflow-x: auto;
}
.belgrano .flex-container article .fotos_cafe img, .palermo .flex-container article .fotos_cafe img, .caballito .flex-container article .fotos_cafe img, .recoleta .flex-container article .fotos_cafe img, .villa-crespo .flex-container article .fotos_cafe img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.25s ease;
  border-radius: 15px;
  border: 3px solid rgb(90, 59, 0);
}
.belgrano .flex-container article .fotos_cafe img:hover, .palermo .flex-container article .fotos_cafe img:hover, .caballito .flex-container article .fotos_cafe img:hover, .recoleta .flex-container article .fotos_cafe img:hover, .villa-crespo .flex-container article .fotos_cafe img:hover {
  transform: scale(1.2);
}
.belgrano .flex-container iframe, .palermo .flex-container iframe, .caballito .flex-container iframe, .recoleta .flex-container iframe, .villa-crespo .flex-container iframe {
  border-radius: 15px;
  margin: 20px;
  border: 2px solid rgba(5, 107, 190, 0.5);
  height: 550px;
  filter: grayscale(100%);
}
.belgrano .flex-container iframe:hover, .palermo .flex-container iframe:hover, .caballito .flex-container iframe:hover, .recoleta .flex-container iframe:hover, .villa-crespo .flex-container iframe:hover {
  filter: none;
}

/************************MEDIA QUERIES *********************************/
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  body .belgrano, body .palermo, body .caballito, body .recoleta, body .villa-crespo {
    width: 90%;
    margin: 25px auto;
  }
  body .belgrano .flex-container article, body .palermo .flex-container article, body .caballito .flex-container article, body .recoleta .flex-container article, body .villa-crespo .flex-container article {
    width: 70%;
    margin: 5px;
  }
  body .belgrano .flex-container article .card, body .palermo .flex-container article .card, body .caballito .flex-container article .card, body .recoleta .flex-container article .card, body .villa-crespo .flex-container article .card {
    width: 100%;
    padding: 5px;
  }
  body .belgrano .flex-container article .card .card-tit, body .palermo .flex-container article .card .card-tit, body .caballito .flex-container article .card .card-tit, body .recoleta .flex-container article .card .card-tit, body .villa-crespo .flex-container article .card .card-tit {
    margin: auto;
  }
  body .belgrano .flex-container article .card .card-des, body .palermo .flex-container article .card .card-des, body .caballito .flex-container article .card .card-des, body .recoleta .flex-container article .card .card-des, body .villa-crespo .flex-container article .card .card-des {
    margin: auto;
  }
  body .belgrano .flex-container article .fotos_cafe, body .palermo .flex-container article .fotos_cafe, body .caballito .flex-container article .fotos_cafe, body .recoleta .flex-container article .fotos_cafe, body .villa-crespo .flex-container article .fotos_cafe {
    scroll-snap-align: start;
    padding: 10px;
    flex: 0 0 100%;
  }
  body .belgrano .flex-container iframe, body .palermo .flex-container iframe, body .caballito .flex-container iframe, body .recoleta .flex-container iframe, body .villa-crespo .flex-container iframe {
    width: 30%;
  }
}/*# sourceMappingURL=barrios.css.map */