#barrios_recos .belgrano, #barrios_recos .caballito, #barrios_recos .palermo, #barrios_recos .recoleta, #barrios_recos .villa-crespo {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms;
  margin: 150px auto;
  height: 600px;
  padding: 25px;
}
#barrios_recos .belgrano h2, #barrios_recos .caballito h2, #barrios_recos .palermo h2, #barrios_recos .recoleta h2, #barrios_recos .villa-crespo h2 {
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  padding: 15px;
}
#barrios_recos .belgrano .modal_container, #barrios_recos .caballito .modal_container, #barrios_recos .palermo .modal_container, #barrios_recos .recoleta .modal_container, #barrios_recos .villa-crespo .modal_container {
  display: flex;
  background-color: rgba(204, 204, 204, 0.9);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: fixed;
  opacity: 0;
  top: 50px;
  left: 15%;
  height: 70%;
  width: 70%;
}
#barrios_recos .belgrano .modal_container .show, #barrios_recos .caballito .modal_container .show, #barrios_recos .palermo .modal_container .show, #barrios_recos .recoleta .modal_container .show, #barrios_recos .villa-crespo .modal_container .show {
  opacity: 1;
}
#barrios_recos .belgrano .modal_container .modal, #barrios_recos .caballito .modal_container .modal, #barrios_recos .palermo .modal_container .modal, #barrios_recos .recoleta .modal_container .modal, #barrios_recos .villa-crespo .modal_container .modal {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 50px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}
#barrios_recos .belgrano .modal_container .modal .modal_titulo, #barrios_recos .caballito .modal_container .modal .modal_titulo, #barrios_recos .palermo .modal_container .modal .modal_titulo, #barrios_recos .recoleta .modal_container .modal .modal_titulo, #barrios_recos .villa-crespo .modal_container .modal .modal_titulo {
  margin: 0;
}
#barrios_recos .belgrano .modal_container .modal .modal_parrafo, #barrios_recos .caballito .modal_container .modal .modal_parrafo, #barrios_recos .palermo .modal_container .modal .modal_parrafo, #barrios_recos .recoleta .modal_container .modal .modal_parrafo, #barrios_recos .villa-crespo .modal_container .modal .modal_parrafo {
  opacity: 0.7;
  font-size: 15px;
}
#barrios_recos .belgrano .modal_container .modal #close_modal, #barrios_recos .caballito .modal_container .modal #close_modal, #barrios_recos .palermo .modal_container .modal #close_modal, #barrios_recos .recoleta .modal_container .modal #close_modal, #barrios_recos .villa-crespo .modal_container .modal #close_modal {
  border-radius: 15px;
  padding: 15px;
  background-color: rgba(56, 156, 238, 0.938);
  border: none;
}
#barrios_recos .belgrano .flex-container, #barrios_recos .caballito .flex-container, #barrios_recos .palermo .flex-container, #barrios_recos .recoleta .flex-container, #barrios_recos .villa-crespo .flex-container {
  display: flex;
  height: 85%;
  justify-content: space-around;
  align-items: center;
}
#barrios_recos .belgrano .flex-container iframe, #barrios_recos .caballito .flex-container iframe, #barrios_recos .palermo .flex-container iframe, #barrios_recos .recoleta .flex-container iframe, #barrios_recos .villa-crespo .flex-container iframe {
  border-radius: 15px;
  border: 2px solid rgba(5, 107, 190, 0.5);
  height: 95%;
  filter: grayscale(100%);
}
#barrios_recos .belgrano .flex-container iframe:hover, #barrios_recos .caballito .flex-container iframe:hover, #barrios_recos .palermo .flex-container iframe:hover, #barrios_recos .recoleta .flex-container iframe:hover, #barrios_recos .villa-crespo .flex-container iframe:hover {
  filter: none;
}
#barrios_recos .belgrano .flex-container article, #barrios_recos .caballito .flex-container article, #barrios_recos .palermo .flex-container article, #barrios_recos .recoleta .flex-container article, #barrios_recos .villa-crespo .flex-container article {
  border-radius: 15px;
  border: 2px solid rgb(153, 3, 120);
  height: 95%;
  width: 300px;
}
#barrios_recos .belgrano .flex-container article .card, #barrios_recos .caballito .flex-container article .card, #barrios_recos .palermo .flex-container article .card, #barrios_recos .recoleta .flex-container article .card, #barrios_recos .villa-crespo .flex-container article .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#barrios_recos .belgrano .flex-container article .card .card-tit, #barrios_recos .caballito .flex-container article .card .card-tit, #barrios_recos .palermo .flex-container article .card .card-tit, #barrios_recos .recoleta .flex-container article .card .card-tit, #barrios_recos .villa-crespo .flex-container article .card .card-tit {
  background-color: rgba(255, 129, 10, 0.705);
  height: 30px;
  width: 100%;
  text-align: center;
  border-radius: 12px 12px 0 0;
  margin-bottom: 25px;
}
#barrios_recos .belgrano .flex-container article .card .card-des, #barrios_recos .caballito .flex-container article .card .card-des, #barrios_recos .palermo .flex-container article .card .card-des, #barrios_recos .recoleta .flex-container article .card .card-des, #barrios_recos .villa-crespo .flex-container article .card .card-des {
  line-height: 30px;
  width: 100%;
}
#barrios_recos .belgrano .flex-container article .card .card-des span, #barrios_recos .caballito .flex-container article .card .card-des span, #barrios_recos .palermo .flex-container article .card .card-des span, #barrios_recos .recoleta .flex-container article .card .card-des span, #barrios_recos .villa-crespo .flex-container article .card .card-des span {
  text-decoration: underline;
}/*# sourceMappingURL=lugares_style.css.map */