@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(228, 228, 228);
  color: #000;
}
body header {
  position: static;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border-bottom: 3px solid #aaa;
}
body header nav {
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
body header nav img {
  margin: 10px;
  margin-top: 2px;
  width: 180px;
}
body header nav .clima_widget {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
}
body header nav .clima_widget #clima {
  font-size: 50px;
  color: #fff;
  margin-top: 10px;
}
body header nav .clima_widget .clima_datos {
  list-style: disc;
  display: flex;
  flex-direction: column;
  height: 35px;
  gap: 2px;
}
body header nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
body header nav ul .desplegable:hover .barrios {
  display: flex;
}
body header nav ul .barrios {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 4px;
  font-size: 15px;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  transition: all 0.3s ease;
}
body header nav ul .barrios .barrio-opt {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
}
body header nav ul .barrios .barrio-opt:hover {
  background-color: rgb(228, 228, 228);
}
body header nav ul .barrios .barrio-opt:hover a {
  color: #000;
  text-decoration: underline;
}
body header nav .menu-option {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
body header nav .menu-option a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #fff;
}
body header nav .menu-option a:hover {
  text-decoration: underline;
}

main {
  margin: 50px;
}
main .hero {
  margin-top: 150px;
  text-align: center;
  height: 150px;
}
main .hero h1 {
  font-size: 50px;
  margin-bottom: 35px;
}
main .hero p {
  font-size: 25px;
}
main .hero p span {
  background-color: rgba(9, 145, 199, 0.7);
  border-radius: 10px;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px;
}
main .recos {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 300ms;
  margin: 50px auto;
  height: 80vh;
  padding: 25px;
  z-index: -1;
}
main .recos h3 {
  margin-bottom: 25px;
  letter-spacing: 2px;
  text-decoration: underline;
}
main .recos p {
  font-size: 20px;
  padding-bottom: 25px;
}
main .recos .barrios {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
main .recos .barrios .recos-barrios-bar {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  padding-top: 20px;
  width: 300px;
  min-width: 200px;
  height: 350px;
}
main .recos .barrios .recos-barrios-bar h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 5, 82);
}
main .recos .barrios .recos-barrios-bar h3 a {
  color: rgb(255, 255, 255);
}
main .recos .barrios .recos-barrios-bar .detalles {
  background-color: rgba(121, 5, 82, 0.7);
  color: rgb(228, 228, 228);
  width: 100%;
  padding: 10px;
  line-height: 25px;
  opacity: 0;
  transition: all 0.5s;
}
main .recos .barrios .belgrano,
main .recos .barrios .caballito,
main .recos .barrios .palermo,
main .recos .barrios .recoleta,
main .recos .barrios .villa-crespo {
  filter: grayscale(100%);
  transition: all 0.1s;
}
main .recos .barrios .belgrano:hover,
main .recos .barrios .caballito:hover,
main .recos .barrios .palermo:hover,
main .recos .barrios .recoleta:hover,
main .recos .barrios .villa-crespo:hover {
  filter: none;
  border: none;
  cursor: pointer;
}
main .recos .barrios .belgrano:hover .detalles,
main .recos .barrios .caballito:hover .detalles,
main .recos .barrios .palermo:hover .detalles,
main .recos .barrios .recoleta:hover .detalles,
main .recos .barrios .villa-crespo:hover .detalles {
  opacity: 1;
}
main .recos .barrios .belgrano {
  background: url("../img/Belgrano/GontranCherrier/3.jpg") no-repeat;
  background-size: cover;
}
main .recos .barrios .caballito {
  background: url("../img/Caballito/AmeliaCafe/1.jpg") no-repeat;
  background-size: cover;
}
main .recos .barrios .palermo {
  background: url("../img/Palermo/ElPatio/2.jpg") no-repeat;
  background-size: cover;
}
main .recos .barrios .recoleta {
  background: url("../img/recoleta/EdisonCafe/5.jpg") no-repeat;
  background-size: cover;
}
main .recos .barrios .villa-crespo {
  background: url("../img/VillaCrespo/PetitBouquet/4.jpg") no-repeat;
  background-size: cover;
}
main .container_back-triangle {
  max-width: 1200px;
  height: 600px;
  margin: auto;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .container_back-triangle .triangle {
  width: 300px;
  height: 300px;
  position: fixed;
  opacity: 0.5;
}
main .container_back-triangle .triangle1 {
  background: linear-gradient(to left, #0ea1e6, #1e67c7);
  right: 100px;
  top: 100px;
  width: 250px;
  height: 250px;
  -webkit-animation: t1 5s ease infinite;
          animation: t1 5s ease infinite;
}
main .container_back-triangle .triangle2 {
  background: linear-gradient(to left, #ee8105, #c7371e);
  top: 350px;
  width: 200px;
  height: 200px;
  -webkit-animation: t2 9s ease infinite;
          animation: t2 9s ease infinite;
}
main .container_back-triangle .triangle3 {
  background: linear-gradient(to left, #1b8fc5, #df0f8f);
  left: 200px;
  -webkit-animation: t3 10s ease infinite;
          animation: t3 10s ease infinite;
}
@-webkit-keyframes t1 {
  0% {
    transform: rotate(45deg) translateY(0px);
  }
  50% {
    transform: rotate(45deg) translateY(20px);
  }
  100% {
    transform: rotate(45deg) translateY(0px);
  }
}
@keyframes t1 {
  0% {
    transform: rotate(45deg) translateY(0px);
  }
  50% {
    transform: rotate(45deg) translateY(20px);
  }
  100% {
    transform: rotate(45deg) translateY(0px);
  }
}
@-webkit-keyframes t2 {
  0% {
    transform: rotate(65deg) translateY(0px);
  }
  50% {
    transform: rotate(65deg) translateY(40px);
  }
  100% {
    transform: rotate(65deg) translateY(0px);
  }
}
@keyframes t2 {
  0% {
    transform: rotate(65deg) translateY(0px);
  }
  50% {
    transform: rotate(65deg) translateY(40px);
  }
  100% {
    transform: rotate(65deg) translateY(0px);
  }
}
@-webkit-keyframes t3 {
  0% {
    transform: rotate(45deg) translateY(0px);
  }
  50% {
    transform: rotate(45deg) translateY(50px) translateX(-15px);
  }
  100% {
    transform: rotate(45deg) translateY(0px);
  }
}
@keyframes t3 {
  0% {
    transform: rotate(45deg) translateY(0px);
  }
  50% {
    transform: rotate(45deg) translateY(50px) translateX(-15px);
  }
  100% {
    transform: rotate(45deg) translateY(0px);
  }
}
main #nosotros {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 300ms;
  height: 600px;
  line-height: 30px;
}
main #nosotros h2 {
  font-size: 40px;
  padding: 25px;
  color: #000;
  border-bottom: 1px solid rgb(255, 255, 255);
}
main #nosotros p {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 50px;
  width: 70%;
  margin: auto;
}
main #nosotros .icons {
  margin-top: 5px;
}
main #nosotros .icons h4 {
  font-size: 20px;
  margin-bottom: 25px;
}
main #nosotros .icons img {
  width: 100px;
  height: 100px;
}
main #contactanos {
  margin-top: 100px;
  margin-bottom: 100px;
}
main #contactanos #contenedor {
  margin: auto;
  overflow: hidden;
  width: 600px;
  min-width: 375px;
  min-height: 200px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.76);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 300ms;
}
main #contactanos #contenedor h2 {
  color: #000;
  font-size: 22px;
  padding: 15px 0 10px 10px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
main #contactanos #contenedor #formulario {
  width: 100%;
  min-width: 375px;
  min-height: 80px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}
main #contactanos #contenedor #formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #contactanos #contenedor #formulario form input {
  height: 40px;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  padding: 3px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  background-color: rgba(10, 170, 233, 0.4588235294);
  outline: none;
}
main #contactanos #contenedor #formulario form input::-moz-placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}
main #contactanos #contenedor #formulario form input:-ms-input-placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}
main #contactanos #contenedor #formulario form input::placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}
main #contactanos #contenedor #formulario form textarea {
  width: 80%;
  border-radius: 15px;
  padding: 15px;
  outline: none;
  border: 2px solid #fff;
  background-color: rgba(109, 109, 109, 0.712);
  resize: none;
}
main #contactanos #contenedor #formulario form textarea::-moz-placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}
main #contactanos #contenedor #formulario form textarea:-ms-input-placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}
main #contactanos #contenedor #formulario form textarea::placeholder {
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}
main #contactanos #contenedor #formulario form .boton-enviar {
  padding: 5px;
  width: 50%;
  border: 0;
  margin-top: 20px;
  height: 40px;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  background-color: #2790d2;
  font-weight: bold;
  cursor: pointer;
}
main #contactanos #contenedor #formulario form .boton-enviar:hover {
  background-color: #35a6ee;
}

footer {
  text-align: center;
}
footer h4 {
  margin-bottom: 20px;
}

.card {
  display: flex;
  justify-content: center;
}
.card img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.card img:hover {
  transform: scale(1.2);
}

/*MEDIA QUERIES PARA RESPONSIVE*/
@media only screen and (max-width: 990px) {
  .recos .barrios {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }
  #contactanos #contenedor {
    width: 70%;
  }
  #contactanos #contenedor #formulario form input {
    width: 98%;
  }
  #contactanos #contenedor #formulario form .boton-enviar {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  header nav img {
    width: 50px;
  }
  header nav .clima_widget {
    display: none;
  }
  header nav .clima_widget #clima {
    display: none;
  }
  header nav .clima_widget .clima_datos {
    display: none;
    opacity: 0;
  }
  header nav ul {
    gap: -5px;
    justify-content: flex-start;
  }
  header nav ul .menu-option {
    font-size: 10px;
    font-weight: 200;
  }
  main {
    margin: auto;
  }
  main .hero {
    margin-top: 50px;
    height: 50px;
  }
  main .hero h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  main .hero p {
    font-size: 11px;
  }
  main .hero p span {
    padding: 2px;
  }
  main .recos {
    margin: 20px auto;
    height: 700px;
    width: 90%;
    padding: 10px;
  }
  main .recos h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-decoration: underline;
  }
  main .recos p {
    font-size: 13px;
  }
  main .recos .barrios {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    margin-top: -5px;
  }
  main .recos .barrios .recos-barrios-bar {
    border: none;
    border-radius: 10px;
    margin: auto;
    width: 250px;
    height: 250px;
  }
  main .recos .barrios .recos-barrios-bar .detalles {
    padding: 10px;
    line-height: 15px;
  }
  #nosotros {
    margin: auto;
    width: 90%;
    height: 600px;
  }
  #nosotros h2 {
    font-size: 20px;
    padding: 15px;
  }
  #nosotros p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
  }
  #nosotros .icons {
    margin-top: 5px;
  }
  #nosotros .icons h4 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  #nosotros .icons img {
    width: 100px;
    height: 100px;
  }
  #contactanos #contenedor {
    width: 400px;
  }
  #contactanos #contenedor #formulario {
    width: 400px;
  }
  #contactanos #contenedor #formulario form input {
    width: 98%;
  }
  #contactanos #contenedor #formulario form .boton-enviar {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */